
*.env
.env
.phpunit.result.cache
/.claude
/.vscode
/_work_files
/revisions
/revisions_new
/revisions_new1
/vendor/
/vendor1
cacert.pem
composer.lock
composer.lock.1
cookie.txt
jsons_data/*.json
load_env.php
phpstan.phar
src/revisions_new1/*.json
**/fixtures/output/**
tests/text.php
x.php
x.py
