jsons_data/*.json
tests/text.php
x.py
x.php
cacert.pem
cookie.txt
/.vscode

/vendor/*
!/vendor/composer/
/vendor/composer/*
!/vendor/composer/autoload_static.php

composer.lock
.phpunit.result.cache
/.claude
